@{  
    ViewBag.Title = "Support";
}




    <div class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <div class="form">
                            <div class="form-group">
                                <label>Your name</label>
                                <input name="name" type="text" placeholder="Dev" required="required">
                            </div>
                            <div class="form-group">
                                <label>Your Subject</label>
                                <input name="subject" type="text" placeholder="Type your subject" required="required">
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                <input name="email" type="email" placeholder="devxxxxx@gmail.com" required="required">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea placeholder="Write your message here" name="message" id="message-area" class="form-control"></textarea>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn ">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="contact-widget-wrapper">
                        <div class="main-title">
                            <h2>
                                We'd love to hear<br> from youy..
                            </h2>
                        
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">Email us</h3>
                            <p>info@truthpowerinfo.com</p>
                            <p>truthpowerinfo@gmail.com</p>
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">Our Address</h3>
                            <p>Noida,</p>
                            <p>Uttar Pradesh, India</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

